input:hover::placeholder {
  color: var(--base-color-neutral--grey-80); /* or your desired hover color */
}
label.error {
  font-size: 12px;
  color: var(--text-color--text-error-subdued);
  margin-top: 4px;
  line-height: 100%;
  width: 100%;
  font-weight: 400;
  transition: all 500ms ease-in-out;
}
